@import "tailwindcss";
:root {
  --main-background-color: #ffe4c4 
  
}
.main_page {
  background-color: var(--main-background-color);
  width: 100%;
  min-height: 100vh;
  margin: 0%;
  
}

.fixed_title {
  position: fixed;
  font-weight: bold; 
  font-size: larger; 
  color:rgb(116, 143, 17);
  top: 70px; 
  left: 50%;
  transform: translateX(-50%)
}

.student_no{
  position: fixed;
  font-weight: 600;
  font-size: medium;
  color: rgb(116, 143, 17);
  top: 20px;
  right: 20px;
  transform: translate(-20%);
}